<div class="row">
	<% @doctors.each do |doctor| %>
		<div class="col-sm-6">
			<div class="thumbnail">
			<a href="/doctors/<%= doctor.id%>"><b><%= doctor.last_name %></b></a>
				<div class="caption">
				<p><%= doctor.specialty %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>